# SigiloPay Credentials
SIGILOPAY_PUBLIC_KEY=kaikegomesbrascell_dj5xs7rlxoaoew4z
SIGILOPAY_SECRET_KEY=nvt3mku331xhv1d8oxmqfnp20tjecpacan3v5gk0n276u5kkhexqieuz8y3cmc9f
SIGILOPAY_BASE_URL=https://app.sigilopay.com.br/api/v1

# Server Config
PORT=3001
NODE_ENV=development
